
.timerPlayer{
  width: 200px;
  background-color: rgb(18, 31, 43);
  border-radius: 10px;
}
h1{
  text-align: center;
}
select{
  max-width: 40%;
  min-height: 3rem;
  text-align: center;
  font-size:1rem;
}
.containerMinutesGame{
  display: flex;
  align-items: center;
}
.containerAddPlayer{
  display: flex;
  flex-direction: column;
}
.containerTimeGame{
  display: flex;
  gap: 5px;
}
.containerMinutesGame input{
  min-width: 4rem;
  min-height: 2rem;
}
.minutesGame{
  display: flex;
  flex-direction: column;
}
.timerPlayer h1{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.timerListPlayer{
  display: grid;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(130px,1fr));
  gap: 0.8rem
}
.game{
  width: 100%;
}
.buttonsGame{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.containerPlayers{
  display: flex;
  flex-direction: column;
  height: 79vh;
  justify-content: space-between;
}
input#name{
  width: 100%;
}
.player{
  display: flex;
  flex-direction: column;

}
.player span, p{
  text-align: center;
}

