p{
  margin: 0;
}
.timerPlayer{
  width: 200px;
  background-color: rgb(18, 31, 43);
  border-radius: 10px;
}
.timerPlayer h1{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.timerListPlayer{
  display: grid;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(130px,1fr));
  gap: 0.8rem
}
.game{
  width: 100%;
}
.buttonsGame{
  display: flex;
  justify-content: space-around;
  align-items: center;
}