.timerPlayer{
  width: 200px;
  background-color: rgb(18 31 43);
  border-radius: 10px;
}

h1{
  text-align: center;
}
select{
  max-width: 40%;
  min-height: 3rem;
  text-align: center;
  font-size:1rem;
}
.containerMinutesGame{
  display: flex;
  align-items: center;
}
.containerAddPlayer{
  display: flex;
  flex-direction: column;
}
.containerTimeGame{
  display: flex;
  gap: 5px;
}
.containerMinutesGame input{
  min-width: 4rem;
  min-height: 2rem;
}
.minutesGame{
  display: flex;
  flex-direction: column;
}
.notPlayers{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82px;
}
.timerPlayer h1{
  text-align: center;

  padding-left: 10px;
  padding-right: 10px;
}
.timerListPlayer{
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.timer{
  height: 15vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;

  
}
.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  max-width: 500px;
}
.buttonsGame{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}
.containerPlayers{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input#name{
  width: 100%;
}
.player{
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}
.player span, p{
  text-align: center;
  margin: 0;
}
.containerStartGame{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  align-items: center;
  overscroll-behavior: none;
}

@media only screen and (max-width: 767px){

}
@media only screen and (min-width: 768px) and (max-width: 1023px){

}
