@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
  --text-color: #f5f5f5;
  --principal-color:#000000;
  --second-color: #1a1a1a;
  --third-color: #202b38;
  --fontSizeNumbers: 2rem
}
*{
  font-family: 'Exo', sans-serif;
  font-family: 'Quicksand', sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0;
  background-color: var(--principal-color);
  height: 100%;
}
#root{
  height: 100%;
}
.App{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
}


h2{
  width: 67%;

}
input{
  font-size: var(--fontSizeNumbers);
  text-align: center;
  padding: 0;
  margin: 0;
}
select option:hover{

  background-color: #f50f0f00;
}
select option:checked {
  background-color: #00000000;
}
span{
  font-family: 'Exo', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--fontSizeNumbers);
}

input, option, select, button{
  border: none;
  border-radius: 5px;
  background-color: var(--second-color);
  margin: 2px;
}
select{
  margin-left: 0;
}
input:focus{
  border: 2px solid var(--text-color);
  outline: none;
  margin: 0;
}
button{
  font-size: var(--fontSizeNumbers);
  margin: 0;
  padding: 0;
}

